html {
    scroll-behavior: smooth;
}

.xblock .xblock h2.unit-title {
    font-size: 1.8em;
}

a.external-link::after {
    /* Syntax: content: "visible text" / "accessible description"; */
    content: " (ανοίγει σε νέα καρτέλα) ↗" / " (ανοίγει σε νέα καρτέλα)";
    color: #555;
}

div.eapsi-esamea {
    font-size: 1.25rem;
    line-height: 1.5;
}

div.eapsi-esamea p {
    font-size: 1.25rem;
 
}

div.eapsi-esamea li {
    padding-left: 2.5%;
}

div.eapsi-esamea ul ul {
    list-style-type: circle !important;
}

div.eapsi-esamea ul ul ul {
    list-style-type: square !important;
}

/* Custom Data Table Styling */
.custom-data-table {
    margin: 40px 0;
    /* Spacing between tables */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-data-table caption {
    padding: 20px 0 10px 0;
    font-size: 1.1em;
}

.custom-data-table thead th {
    background-color: #007bff !important;
    color: white;
    padding: 15px;
}

.custom-data-table th,
.custom-data-table td {
    padding: 18px !important;
    line-height: 1.5 !important;
    vertical-align: top !important;
    font-size: 1.1em !important;
}

/* Styling for the row headers (accessibility column) */
.custom-data-table tbody th {
    background-color: unset !important;
}

/* Note block with icon */
.note {
    position: relative;
    padding-left: 40px;
    margin: 20px 0;
   
}

.note::before {
    content: "➲" / "Επισήμανση";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    
}

