html {
    scroll-behavior: smooth;
}

.xblock .xblock h2.unit-title {
    font-size: 1.8em;
}

a.external-link::after {
 /* Syntax: content: "visible text" / "accessible description"; */
 content: " (ανοίγει σε νέα καρτέλα) ↗" / " (ανοίγει σε νέα καρτέλα)";
 color: #555;
}

div.eapsi-esamea {
    font-size: 1.25rem;
    line-height: 1.5;
    font-style: 400;
    color: #555555;
}

div.eapsi-esamea p {
    font-size: 1.25rem;
    color: #555555;
}

div.eapsi-esamea li {
    padding-left: 2.5%;
}

div.eapsi-esamea summary {
    cursor: pointer;
    line-height: 2.4rem !important;
}

div.eapsi-esamea details p {
    padding-left: 2.5%;
    margin-top: 10px;
}

div.eapsi-esamea ul ul {
    list-style-type: circle !important;
}

div.eapsi-esamea ul ul ul {
    list-style-type: square !important;
}